<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
    function addStudent()
    {
       $('#dynamictable').append('<tr><td></td><td><input type="text" placeholder="Enter student"></td></tr>');
    }
    
    </script>
</head>
<body>
    <table id="dynamictable">
        <tr>
            <th>
                Class name:
            </th>
            <th>
                Student:
            </th>
            <th>
                Add students:
            </th>
        </tr>

        <tr>
            <td><input type="text" placeholder="Enter class"></td>
            <td><input type="text" placeholder="Enter student"></td>
            <td><input type="button" value="Add more" onclick="addStudent()"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" placeholder="Enter student"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" placeholder="Enter student"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" placeholder="Enter student"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" placeholder="Enter student"></td>
            <td></td>
        </tr>
    </table> 
</body>
</html>