{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

<button>
    <a href = "/queue">
      Queue
    </a>
    <a href = "/login">
        Login
      </a>
</button>



<p>We maken gebruik van een webserver die draait op een raspberry pi. 
Deze raspberry pi is verbonden met een monitor dat vooraan in het klaslokaal staat. 
Op deze monitor kan je bekijken wie in de wachtrij staat en andere statistieken raadplegen.
Elke client krijgt een knop die verbonden is met een arduino, wanneer hij/zij de knop indrukt wordt de LED rood. 
Wanneer de leerkracht de leerling geholpen heeft wordt er weer op de knop geduwt en wordt de LED groen.
De statistieken die geraadpleegd kunnen worden bevatten: gemiddelde wachttijd en hoogst aantal wachtende studenten.</p>

<p>Componenten</p>
<ul>
    <li>ESP-01</li>
    <li>Raspberry Pi 3 Model B</li>
    <li>Button</li>
    <li>LED</li>
</ul>
{% endblock %}