<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script> setInterval(function(){
        $.ajax({
        type: "GET",
        url: "http://10.67.128.154:5000/values", 
        success: function(data) {
            var event_data = '';
            $.each(data.users, function(index, value){
                /console.log(value);/
                event_data += '<tr>';
                event_data += '<td>'+value+'</td>';
                event_data += '<td>'+data.time[index]+'</td>';
                event_data += '</tr>';
            });
            $("#list_table_json").empty();
            $("#list_table_json").append(event_data);
        }
    });
    }, 1000); //Ververs pagina elke 1 seconden
    </script>
</head>
<body>
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Join time</th>
            </tr>
        </thead>
        <tbody id="list_table_json">
            
        </tbody>
    </table>
</body>
</html>